


$theme: rgb(222, 129, 7);

 :root{
    --bg: #ffffff;
    --txt: #000;
 }   

html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    background-color: var(--bg);
    margin:0;
    font-family:Georgia, 'Times New Roman', Times, serif; 
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 600ms ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}


.hideForum{
    display: none;
}


.reserve{
    z-index: 2;
    border-radius: 5px;
    position: fixed;
    background-color: var(--bg);
    max-width: 900px;
    min-width: 200px;
    height: 480px;
    padding: 50px;
    animation: display-forum 2000ms;
    &__close{
        display: block;
        text-align: right;
        color: var(--txt);
    }
    &__h2{
        text-align: center;
        color: $theme;
        font-family: 'Dancing Script';
        font-size: 50px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    &__input{
        padding: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 18px;
        width: 200px;
        margin: 20px;
        border-width: 1px;
        border-bottom: 1px solid #000;
    }
    &__inputRequest{
        padding: 15px;
        padding-bottom: 100px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 18px;
        width: 760px;
        border-width: 1px;
        margin: 20px;
    }
    &__Button{
        color: var(--txt);
        font-size: 25px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 795px;
        margin: 20px;
        height: 50px;
        background-color: $theme;
    }
}

@keyframes display-forum{
    0%{
        transform: translateX(1200px);
    }100%{
        transform: translateX(0px);
    }
}


.hide{
    display: none;
}

.nav{
    z-index: 2;
    color: var(--txt);
    width: 100%;
    background-color: var(--bg);
    height: 50px;
    position: fixed;
    padding-top: 25px;
    padding-bottom: 25px;
    &__button{
        display: none;
        color: var(--txt);
        cursor: pointer;
        transition: transform 300ms;
        &:active{
            transform: scale(1.05);
        }
    }
    &__mobile{
        background-color: var(--bg);
        width: 100%;
        text-align: center;
        height: 220px;
        padding-top: 5px;
        &__navbar{
            margin-top: -12px;    
            list-style:none;
            li{
                margin: 25px;
            }
            a{
                text-decoration: none;
                color: var(--txt);
            }
        }
    }
    &__logo{
       display: inline;
       font-weight:bold;
       font-size: 50px;
       margin-left: 60px;
       font-family:'Dancing Script', 'Times New Roman', Times, serif;
       letter-spacing: 3px;
       cursor: pointer;
       &__letters{
        color:$theme;
       }
    }
    .nav__navbar{
        position: absolute;
        right: 50px;
        top: 32px;
        list-style: none;
        text-align: right;
        &__reserve{
            background-color:$theme;
            padding: 8px;
            border-radius: 3px;
            transform: scale(1);
            transition: all 300ms;
            transform-origin: 0% 50%;
            &:hover{
                box-shadow: 0 0 2px $theme, 0 0 10px $theme, 0 0 20px $theme;
                
            }
        }
        #switch{
            i{
            transform: rotate(-360deg);
            transition: transform 600ms ease-in-out;
            &:hover{
                transform: rotate(0deg);
            }
        }
        }
        &__navs{
            position: relative;
            &::after{
                content: "";
                position: absolute;
                background-color: $theme;
                height: 3px;
                width: 0%;
                left: 0%;
                top: 18px;
                transition: 300ms;
            }
            &:hover::after{
                width: 100%;
            }
            
        }
        li{
            display:inline;
            margin: 30px;
            a{  
                text-decoration: none;
                color:var(--txt);
            }
        }
    }
}

.head{
    position: relative;
    height: 800px;
    color: #ffffff;
    &::before {
        content: "";
        background-image: url('../img/pexels-rachel-claire-5864588.jpg');
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 1; /* Adjust the opacity as needed */
    }
    &__container{
        position:relative;
        top: 230px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__h2{
            font-size: 40px;
            font-weight: lighter;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            animation-name: display-head-h2; // Apply the animation to this specific h2 element
            animation-duration: 1000ms;
            animation-delay: 600ms;
            transform-origin: left;
            animation-fill-mode: both;
        }
        &__h1{
            font-size: 50px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            animation: display-head-h1 1000ms;
            animation-delay: 600ms ;
            transform-origin: right;
            animation-fill-mode: both;
        }
        &__btn{
            font-family:'Dancing Script';
            padding: 10px;
            width: 300px;
            height: 80px;
            font-size: 30px;
            background-color: $theme;
            font-weight: bolder;
            margin-top: 20px;
            animation: display-head-btn 1000ms;
            animation-delay: 600ms;
            cursor: pointer;
            animation-fill-mode: both;
            transition: all 300ms;
    
            &:hover{
               box-shadow: 0 0 5px $theme, 0 0 20px $theme, 0 0 40px $theme;
            }
            &:active{
                transform: scale(1.05);
            }
        }
        hr{
            width: 600px;
            border: 2px solid white;
            border-radius: 20px; 
            animation: display-head-hr 1000ms;
            animation-delay: 600ms; 
            transform-origin: left;
            animation-fill-mode: both;
        }
    }
}

@keyframes display-head-h2 {
    0%{
        transform: scaleX(0%);
    }100%{
        transform:scaleX(100%);
    }
}
@keyframes display-head-h1 {
    0%{
        transform: scaleX(0%);
    }100%{
        transform:scaleX(100%);
    }
}

@keyframes display-head-hr {
    0%{
        transform: scaleX(0%);
    }100%{
        transform:scaleX(100%);
    }
}
@keyframes display-head-btn {
    0%{
        transform: scaleX(0%);
    }100%{
        transform:scaleX(100%);
    }
}

.about{
    padding-top: 70px;
    background-color: var(--bg);
    text-align: center;
    color: var(--txt);
    &__h2{
       color:$theme; 
       font-family: 'Dancing Script';
       font-size: 45px;
    }
    &__h1{
        font-size: 40px;
        font-family: Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
    }
    &__p{
        max-width:800px;
        min-width: 300px;
        margin: 50px auto;
        font-size: 30px;
        font-family: 'Dancing Script';
    }
    &__icon1{
        margin-right: 150px;
        color:$theme;
    }
    &__icon2{
        color:$theme
    }
    &__container{
        margin-top: 100px;
        display:flex;
        justify-content: space-around;
        flex-flow: row wrap;
        &__history{
            width: 300px;
            &__date{
                color: $theme;
                font-family:'Dancing Script';
            }
            &__title{
                font-weight: 750;
                font-family: Arial, Helvetica, sans-serif;
            }
            &__paragraph{
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-weight: lighter;
            }
        }
    }
}


.recipes{
    position: relative;
    margin-top: 100px;
    height: 640px;
    &::before {
        content: "";
        background-image: url('../img/pexels-rajesh-tp-1603899.jpg');
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.9; /* Adjust the opacity as needed */
    }
    &__title{
        position: relative;
        color:#ffffff;
        text-align: center;
        top: 200px;
        &__h2{
            color:$theme;
            font-family: 'Dancing Script';
            font-size: 60px;
            text-align: center;
            margin-bottom: -30px;
        }
        &__h1{
            text-align: center;
            font-size: 80px;
            font-family: 'Dancing Script';
        }   

    }

}

.categories{
    padding-top: 100px;
    background-color: var(--bg);
    color:var(--txt);
    &__container{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        text-align: center;
        &__item{
            margin: 30px 0px 30px;
            max-width: 400px;
            min-width: 300px;
            &__img{
                max-width: 400px;
                min-width: 300px;
                height: 200px;
                margin-bottom: -3px;
            }
            &__h2{
                color: $theme;
                font-family: 'Dancing Script';
                font-size: 40px;
                margin-bottom: -30px;;
            }
            &__h1{
                font-family: 'Dancing Script';
                font-size: 50px;
                margin-bottom: -1px;
            }
            &__p{
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-weight:lighter;
            }
        }   
    }
}



.menu{
    position: relative;
    margin-top: 100px;
    height: 600px;
    &::before {
        content: "";
        background-image: url('../img/pexels-burak-the-weekender-735869.jpg');
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.9; /* Adjust the opacity as needed */
    }
    &__container{
        position: relative;
        color:white;
        text-align: center;
        top: 200px;
        &__h2{
            color:$theme;
            font-family: 'Dancing Script';
            font-size: 65px;
            text-align: center;
            margin-bottom: -30px;
        }
        &__h1{
            text-align: center;
            font-size: 85px;
            font-family: 'Dancing Script';
        }   
    }
}
.linkActive{
    color: $theme;
}
.hide{
    display: none;
}
#menuPage{
    background-color: $theme;
    animation: open-Menu 1000ms;
}

@keyframes display-Menu-Title{
    0%{
        transform: scaleX(0);
    }100%{
        transform: scaleX(1);
    }
}
@keyframes open-Menu{
    0%{ 
        background-color: #ffffff;
    }
    100%{
        background-color: $theme;
    }
}
 


.Container{
    &__h1{
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        animation: display-Menu-Title 1000ms;
        transform-origin: 0% 50%;
        animation-fill-mode:both ;
        animation-delay: 1000ms;
        font-weight: bolder;
        &__brand{
            font-family: 'Dancing Script';
            color:#ffffff;
            font-size: 45px;
        }
    }
    hr{
        width: 600px;
        border-width: 3px;
        animation: display-Menu-Title 1000ms;
        transform-origin: 0% 50%;
        animation-fill-mode:both ;
        animation-delay: 1600ms;
    }
    &__menuContainer{
        color: var(--txt);
        margin-top: 50px;
        display: flex;
        flex-flow: row wrap;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        justify-content: space-around;
        &__column{
            animation: display-Menu-Title 1000ms;
            transform-origin: 0% 50%;
            animation-fill-mode:both ;
            animation-delay: 1600ms;
            &__h2{
                text-align: center;
                font-family: 'Dancing Script';
                font-size: 30px;
                font-weight: lighter;
                color:#ffffff;
            }
            &__row{
                margin: 20px;
                width: 300px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                img{
                    width: 100px;
                    border-radius: 50%;
                }
                &__dcp{
                    text-align: center;
                }
                &__price{
                    color:#ffffff;
                    font-family: 'Dancing Script';
                    font-size: 20px;
                }
            }
        }
    }

}



.menus{
    margin-top: 70px;
    width: 100%;
    background-color: var(--bg);
    color: var(--txt);
    &__nav{
        list-style: none;
        text-align: center;
        &__items{
            display: inline;
            margin: 50px;
            font-family:'Dancing Script';
            font-size: 32px;
            color: var(--txt);
            a{  
                color: var(--txt);
                text-decoration: none;
                &:hover{
                    color:$theme;
                }
            }
            
        }
    }
    &__container{
        display:flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-top: 40px;
        .lunch{
            animation: display-lunch 1000ms;
        }
        .dinner{
            animation: display-lunch 1000ms;
        }
        .dessert{
            animation: display-lunch 1000ms;
        }
        .drinks{
            animation: display-lunch 1000ms;
        }
        &__item{
            max-width: 400px;
            min-width: 300px;
            margin: 30px 0px 30px;
            &__img{
                max-width: 400px;
                min-width: 300px;
                height: 200px;
            }
            &__h2{
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
                font-weight: bold;
            }
            &__price{
                color: $theme;
                font-family:'Dancing Script';
            }
            &__p{
                font-weight: lighter;
                color:rgb(115, 110, 110);
            }
        }
    }
    &__btn{
        margin: 30px auto;
        display: block;
        padding: 15px;
        padding-bottom: 50px;
        width: 280px;
        height: 60px;
        font-size: 30px;
        background-color: $theme;
        color:var(--txt);
        font-family:'Dancing Script';
        font-weight: bolder;
        border-radius: 5px;
        transition: all 300ms;
        cursor: pointer;
        &:hover{
            box-shadow: 0 0 5px $theme, 0 0 20px $theme, 0 0 40px $theme;
        }
        &:active{
            transform: scale(1.05);
        }
    }
}

@keyframes  display-lunch {
    0%{
        transform: scale(0);
    }100%{
        transform: scale(1);
    }
}
@keyframes  display-dinner {
    0%{
        transform: scale(0);
    }100%{
        transform: scale(1);
    }
}
@keyframes  display-dessert {
    0%{
        transform: scale(0);
    }100%{
        transform: scale(1);
    }
}
@keyframes  display-drinks {
    0%{
        transform: scale(0);
    }100%{
        transform: scale(1);
    }
}



.team{
    position: relative;
    margin-top: 100px;
    height: 650px;
    &::before {
        content: "";
        background-image: url('../img/pexels-taha-samet-arslan-7627422.jpg');
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.9; /* Adjust the opacity as needed */
    }
    &__container{
        position: relative;
        color:#ffffff;
        text-align: center;
        top: 200px;
        &__h2{
            color:$theme;
            font-family: 'Dancing Script';
            font-size: 65px;
            text-align: center;
            margin-bottom: -30px;
        }
        &__h1{
            text-align: center;
            font-size: 85px;
            font-family: 'Dancing Script';
        }   
    }
}


.chefs{
    background-color: var(--bg);
    &__container{ 
    display: flex;
    padding: 40px;
    justify-content:space-around;
    flex-flow: row wrap;
    &__member{
        font-family: 'Dancing Script';
        margin-top: 50px;
        width: 300px;
        &__imageContainer{
            img{
                width: 100%;
                height: 100%;
                border-radius: 5px;
                
            }
            position: relative;
            &__text{
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                overflow: hidden;
                position: absolute;
                color:#ffffff;
                padding: 10px;
                text-align: center;
                width: 100%;
                height: 95%;
                top: 0 ;
                display: none;
                flex-direction: column ;
                align-items:center;
                justify-content:center ;
                ul{
                    list-style: none;
                    margin-right: 50px;
                    li{
                        display:inline;
                         padding: 10px;   
                        a{
                            color:#ffffff;
                        }
                    }
                }
                p{
                    width: 80%;
                }
            }
        }
        h2{ 
            text-align: center;
            color:var(--txt);
            font-weight: bolder;
            font-size: 40px;
            margin-top:5px;
        }
        h3{
            margin-top: -20px;
            text-align: center;
            color:$theme;
            font-weight: bolder;
            font-size: 30px;
        }
    }
  }
}

.chefs__container__member__imageContainer:hover .chefs__container__member__imageContainer__text{
    backdrop-filter: blur(2px);
    display: flex;

}




.footer{
    margin-top: 100px;
    height: 100%;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    background-color: #1f1c1c;
    color:#ffffff;
    padding-bottom: 20px;
    &__copy{
        text-align: center;
        color:#ffffff;
        margin-bottom: 10px;
    }
    &__container{
        padding: 30px;
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        &__social{
            &__h2{
                width: 100%;
                text-align: center;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
            }
            &__media{
                margin-top: 40px;
                margin-left: -30px;
                list-style: none;
                &__link{
                    margin-right: 10px;
                    padding: 15px;
                    border: 2px solid white;
                    display: inline;
                    cursor: pointer;
                    &:hover{
                        background-color: $theme;
                    }
                }
            }
        }
    &__dcp{
        max-width: 400px;
        min-width: 200px;
        color:#ffffff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        &__h2{
            text-align: center;
            span{
                color:$theme;
            }
        }
        &__p{
            text-align: center;
            font-weight: lighter;
            color:rgb(160, 160, 160);
        }
    }
    &__sub{
        color:#ffffff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        &__h2{
            text-align: center;
        }
        &__form{
            input{
                width: 150px;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                font-size: 17px;
                padding :8px;
                padding-left: 15px;
            }
            &__btn{
                position: relative;
                height:39px;
                right:6px;
                top: -1px;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                background-color: $theme;
                width: 40px;
            }
        }
    }
    }

}




@media screen and (max-width: 1024px){
    
    .reserve{
        width:230px;
        height: 450px;
        animation-duration: 700ms;
        &__h2{
            font-size: 40px;
            margin-top: -20px;
        }
        &__close{
            position: relative;    
            right: -30px;
            top: -30px;
        }
        &__input{
            margin: 5px auto;
            height: 5px;
        }
        &__inputRequest{
            margin: 5px auto;
            width: 200px;
            height: 50px;
            padding-bottom: 30px;
        }
        &__Button{
            width: 235px;
            margin: 5px auto;
        }
    }

    @keyframes display-forum{
        0%{
            transform: translateX(700px);
        }100%{
            transform: translateX(0px);
        }
    }

    .nav{
        &__logo{
            margin-left: 20px;
        }
        &__navbar{
            display: none;
        }
        &__button{
            display: inline;
            position:absolute;
            top: 45px;
            right: 30px;
        }
     }
     .head{
        height: 700px;
        &__container{
            top: 200px;
            &__h2{
                font-size: 35px;
            }
            &__h1{
                font-size: 40px;
            }
            hr{
                width: 200px;
            }
        }
     }
     .chefs__container__member__imageContainer:active .chefs__container__member__imageContainer__text{
        backdrop-filter: blur(2px);
        display: flex;
    
    }

}





